* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    margin: auto;
    width: 90%;
    padding: 1em;
}

h1 {
    text-align: center;
}

.form-main {
    width: 100%;
    margin: auto;
}

.calcul {
    display: flex;
    align-items: center;
    gap: 2em;
    margin: 3em 0;
}


.form-input,
.form-select,
.line-result {
    flex: none;
    width: 100px;
    height: 40px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    background-color: inherit;
    text-align: center;
}

.line-result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(233, 233, 233);
}

.form-label {
    display: inline-block;
    width: 110px;
    margin-right: 2em;
}

.calculate-btn {
    height: 40px;
    width: 100%;
    background-color: rgb(229, 242, 231);
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

.result {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 2em;
    align-items: center;
    margin: 5em 0;
}

.value-result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 40px;
    text-align: center;
    width: 400px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    background-color: rgb(233, 233, 233);
}

.success-message {
    width: fit-content;
    border: 1px solid rgb(203, 255, 220);
    background-color: rgb(180, 221, 170);
    color: rgb(71, 130, 71);
    border-radius: 5px;
    padding: 1em;
}

.error-message {
    width: fit-content;
    border: 1px solid rgb(255, 203, 203);
    background-color: rgb(221, 170, 170);
    color: rgb(130, 71, 71);
    border-radius: 5px;
    padding: 1em;
}

@media only screen and (max-width: 600px){
    .calcul {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .first-amount,
    .second-amount {
        width: 100%;
    }

    .form-input,
    .form-select {
        flex: none;
        width: 100%;
    }

    .form-label {
        width: 100%;
        text-align: center;
        display: block;
        margin-bottom: .5em;
    }
}
